<h1>Order summary:</h1>
<% @products.each do |product| %>
  <h2>Item: <%=product.product.name %> </h2>
  <h3>Quantity: <%=product.quantity %></h3>
  <h3>Subtotal: <%=product.order.subtotal%></h3>
  <h3>Tax: <%= product.order.tax%></h3>
  <h3>Total: <%=product.order.total%></h3>
<% end %>


