<h1>Product <%=@product.id%></h1>
<div class="container">
  <div class="col-sm-6 col-md-4">
  <div class="well">
    <div class="thumbnail">
    <% @product.images.each do |image|%>
      <img class="Image" src= "<%=image.url%>">
      <% end %>
      <div class="caption">
        <h4><%= @product.name %></h4>
        <p>Sold by <a href= '/suppliers/<%=@product.supplier.id%>'><%=@product.supplier.name%></a></p>
        <p>Categories:
        <% @product.categories.each do |category|%>
        <a href= "/products?category_id=<%=category.id%>"><%=category.name%></a>
          <%end%>
        </p>
        <p class="Price">Price: <%=number_to_currency(@product.price)%></p>
        <p class="Price">Tax: <%=number_to_currency(@product.tax)%></p>
        <p class="Price">Total: <%=number_to_currency(@product.total)%></p>
        <p><%=@product.sale_message%></p>
        <p class="Description"><%=@product.description%></p>
        <p><a href="/products" class="btn btn-primary" role="button">Back to products</a> <a href="#" class="btn btn-default" role="button">Add to cart</a></p>

<%= form_tag '/carted_products', method: :post do%>
<div class="form-group">
  <%= hidden_field_tag :product_id, @product.id, class:"form-control" %>
</div>
<div class="form-group">
  <%= label_tag :quantity, 'Enter quantity: '%>
  <%= text_field_tag :quantity,'', class:"form-control" %>
</div>
<div>
  <%= submit_tag 'Add to cart!', class:"btn btn-primary" %>
</div>
<%end%>
      </div>
    </div>
  </div>
</div>
</div>
<div>
<a class="btn btn-default" role="button" href=<%="/products/#{@product.id}/edit"%>> Edit product</a>  
</div>
<div class="btn btn-default" role="button">
  <%= link_to "Destroy this product!", "/products/#{@product.id}", method: :delete%>
</div>