<h1>Successfully updated product!</h1>
<h2>The product you edited was: </h2>
<h4>Name: <%= params[:name] %> </h4>
<img class="Image" <%= params[:image]%>>
<p class="Price">Price: <%= params[:price] %></p>
<p class="Description"> <%= params[:description]%></p>
<!-- <a href=<%=products#{@product.id}%>> Edit product</a> -->
<div>
  <a href='/products'> Go back to product list</a>
</div>