<h1>Supplier <%=@supplier.id%> </h1>

<h2><%=@supplier.name%></h2>
<h2>Email: <%=@supplier.email%></h2>
<h2>Phone Number: <%=@supplier.phone%></h2>
<div>
  <a href= '/suppliers'> Back to supplier list</a>
</div>
<div>
  <a href= '/suppliers/<%=@supplier.id%>/edit'>Edit thie supplier</a>
</div>
<div>
  
</div>

